.diceField {
    label {
        color: #eee;
    }
    input {
        color: #eee;
    }
    fieldset {
        border-color: #eee;
    }
}

.crit {
    color: green;
}

.natOne {
    color: darkred;
}